.demo-table {
    position: absolute;
    z-index: 1;
    width: 70%;
    top: 100px;
    left: 250px;
}

.mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
}
  
.mat-column-demo-api-address {
    font-style: italic;
}