.information-container {
    display: flex;
    position: absolute;
    width: 200px;
    height: 150px;
    top: 100px;
    left: 570px;
    border-radius: 20px;
    background-color: #aeababef;
    z-index: 1;

    .battery {
        display: flex;
        position: absolute;
        top: 10px;
        left: 45px;
    
        width: 100px;
        height: 25px;
        border: 1px solid #555;
        border-radius: 6px;
    
        padding: 5px;
    }
    
    .battery-level {
        height: 100%;
        background: #51FCD0;
    }
}