<div class="control-container">
   <div class="joystick">
      <div class="joystick-container">
         <div class="joystick-controler"></div>
      </div>
   </div>
   <div class="mine-dropping-container">
      <button class="mine-dropping" onclick="mineDrop('front')">
         <div>Передня міна</div>
         <div>Ctrl + Y</div>
      </button>
      <button class="mine-dropping" onclick="mineDrop('rear')">
         <div>Задня міна</div>
         <div>Ctrl + I</div>
      </button>
   </div>
</div>