<mat-sidenav-container class="sidenav">
    <mat-sidenav mode="side" opened class="sidenav-container">
        <mat-toolbar class="sidenav-toolbar">
            <span>TARANTUL</span>
        </mat-toolbar>
        <ul class="sidenav-navig">
            <li><a href="/" class="sidenav-link">Home</a></li>
            <li><a href="/drone-list" class="sidenav-link">Drone list</a></li>
            <li><a href="/settings" class="sidenav-link">Settings</a></li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar class="toolbar-container">
            <mat-select class="select-container">
                <mat-option>Clear</mat-option>
            </mat-select>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>